<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca833e9d-193f-49d3-b20c-add2f51273c9" Alias="Billetto Ordre" Level="2">
  <Info>
    <Name>Billetto Ordre</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.BillettoOrder</EditorUIAlias>
    <Folder>Blue+Bridge+Voluntier</Folder>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING"
}]]></Config>
</DataType>
