<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cbc44c0-ac39-41f3-b907-75788a7f9668" Alias="Crew Picker" Level="2">
  <Info>
    <Name>Crew Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Blue+Bridge+Voluntier</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "7c781d42-80a8-4495-8cb6-2d27154fb198",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>