<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0846d59e-9a81-4b80-8523-fbf320d4e8d7" Alias="Crew - Antal frivillige - Numeric" Level="1">
  <Info>
    <Name>Crew - Antal frivillige - Numeric</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 3
}]]></Config>
</DataType>