<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd1da06f-65e6-46bb-bd03-8a58fe059caa" Alias="Frivillig - invitationSentDate - Date Time (unspecified)" Level="1">
  <Info>
    <Name>Frivillig - invitationSentDate - Date Time (unspecified)</Name>
    <EditorAlias>Umbraco.DateTimeUnspecified</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateTimePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm:ss"
}]]></Config>
</DataType>