<?xml version="1.0" encoding="utf-8"?>
<DataType Key="279d7ce2-3fb0-4a05-82bf-404c3acd38be" Alias="Frivillig Member Picker" Level="2">
  <Info>
    <Name>Frivillig Member Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Blue+Bridge+Voluntier</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "2575ce25-8e29-4feb-a215-47a655689215",
  "ignoreUserStartNodes": true,
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "member"
  }
}]]></Config>
</DataType>