<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a8095b7-dbd5-4d29-bbb0-d5df12806b1c" Alias="Navigation Picker" Level="2">
  <Info>
    <Name>Navigation Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Blue+Bridge+Voluntier</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "4ab63770-cb57-4e3e-8c67-3c7f989b71ba,5dcc46bd-5f48-439f-9d29-9489e1df716a,dc956f51-ac5b-4a4e-a07a-bcb713855f69,59e5b8a1-7761-4a0e-8350-d7218f94cd8d,fea07efe-7325-40ac-8702-42aa450be2ee,814239f4-8f0d-49f6-9e4c-e7b886100967,ee3c4018-af27-4406-8293-969e0561693d,9d6cb411-1b83-4ab4-be6a-0a74b5097b4a",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root"
    }
  }
}]]></Config>
</DataType>