<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc956f51-ac5b-4a4e-a07a-bcb713855f69" Alias="bbvApplicationsPage" Level="4">
  <Info>
    <Name>Applications</Name>
    <Icon>icon-vcard</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages/System</Folder>
    <Compositions />
    <DefaultTemplate>applications</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c3db3974-73bd-4566-b0d4-617a30623245">applications</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>