<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fea07efe-7325-40ac-8702-42aa450be2ee" Alias="bbvAvailableJobs" Level="3">
  <Info>
    <Name>Available Jobs</Name>
    <Icon>icon-clipboard-copy</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages</Folder>
    <Compositions />
    <DefaultTemplate>availableJobs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2a1cc50d-6750-4ee5-8087-7387181f2c73">availableJobs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>