<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ab63770-cb57-4e3e-8c67-3c7f989b71ba" Alias="bbvCrewList" Level="4">
  <Info>
    <Name>Crew Liste</Name>
    <Icon>icon-layout-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages/System</Folder>
    <Compositions />
    <DefaultTemplate>CrewListe</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ae3ce0d3-0e33-4904-a494-89570aee91a4">CrewListe</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7c781d42-80a8-4495-8cb6-2d27154fb198" SortOrder="0">bbvCrewPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>