<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5dcc46bd-5f48-439f-9d29-9489e1df716a" Alias="bbvDashboard" Level="4">
  <Info>
    <Name>Dashboard</Name>
    <Icon>icon-dashboard</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages/System</Folder>
    <Compositions />
    <DefaultTemplate>Dashboard</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="624e08fe-ca06-4d46-a8f4-2866cec69aef">Dashboard</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>