<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="814239f4-8f0d-49f6-9e4c-e7b886100967" Alias="bbvFrontpage" Level="3">
  <Info>
    <Name>Frontpage</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages</Folder>
    <Compositions />
    <DefaultTemplate>Frontpage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="90351fd6-2bda-4f52-badc-c121d79233e9">Frontpage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5dcc46bd-5f48-439f-9d29-9489e1df716a" SortOrder="0">bbvDashboard</ContentType>
    <ContentType Key="4ab63770-cb57-4e3e-8c67-3c7f989b71ba" SortOrder="1">bbvCrewList</ContentType>
    <ContentType Key="dc956f51-ac5b-4a4e-a07a-bcb713855f69" SortOrder="2">bbvApplicationsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>