<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee3c4018-af27-4406-8293-969e0561693d" Alias="bbvLoginPage" Level="3">
  <Info>
    <Name>Login</Name>
    <Icon>icon-lock</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages</Folder>
    <Compositions />
    <DefaultTemplate>login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="68f5f161-3725-48ce-a4e3-166c72fa33a0">login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>