<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5240f1d-0733-4b8c-885c-8ce15c8697ed" Alias="bbvMemberList" Level="4">
  <Info>
    <Name>Member List</Name>
    <Icon>icon-thumbnail-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages/System</Folder>
    <Compositions />
    <DefaultTemplate>memberList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5615d8d1-e69c-4a50-8255-e50d9e41553f">memberList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>