<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d6cb411-1b83-4ab4-be6a-0a74b5097b4a" Alias="bbvSignUp" Level="3">
  <Info>
    <Name>Signup</Name>
    <Icon>icon-application-window-alt color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages</Folder>
    <Compositions />
    <DefaultTemplate>signup</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="39f8bc89-dfb0-4094-84ef-0b906b7c9cf8">signup</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>