<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3070f595-8fa3-4088-b7c1-b2c1e18e11c9" Alias="bbvShiftList" Level="4">
  <Info>
    <Name>Shift List</Name>
    <Icon>icon-rows-3</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages/System</Folder>
    <Compositions />
    <DefaultTemplate>ShiftList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019fa327-65b6-7cd1-b64a-b2beb533463d">ShiftList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>