<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7e6183f-3c35-419b-b453-b2375fd62ac0" Alias="bbvSiteSettings" Level="3">
  <Info>
    <Name>Site</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages</Folder>
    <Compositions />
    <DefaultTemplate>Site</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="77720261-693f-441b-bc19-cccb2d1150bf">Site</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ee3c4018-af27-4406-8293-969e0561693d" SortOrder="0">bbvLoginPage</ContentType>
    <ContentType Key="9d6cb411-1b83-4ab4-be6a-0a74b5097b4a" SortOrder="1">bbvSignUp</ContentType>
    <ContentType Key="814239f4-8f0d-49f6-9e4c-e7b886100967" SortOrder="2">bbvFrontpage</ContentType>
    <ContentType Key="fea07efe-7325-40ac-8702-42aa450be2ee" SortOrder="3">bbvAvailableJobs</ContentType>
    <ContentType Key="59e5b8a1-7761-4a0e-8350-d7218f94cd8d" SortOrder="4">bbvArticlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3fad39d4-3444-44bf-8502-98e9759e9d6d</Key>
      <Name>Godkendt email template</Name>
      <Alias>acceptedEmailTemplate</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[{{ firstName }},
{{ lastName }}]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="ansøgningsEmails/godkendt">Godkendt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e6b6e78-5cf8-4cf4-a68b-13e8f35b37ab</Key>
      <Name>Godkendt email emne</Name>
      <Alias>acceptetEmailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="ansøgningsEmails/godkendt">Godkendt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca372844-e8d6-40ea-831e-e1b5de509cfe</Key>
      <Name>Invitation email emnefelt</Name>
      <Alias>invitationEmailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="invitationsEmails/invitation">Invitation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>940e5c83-22be-4084-a306-b54badef9060</Key>
      <Name>Invitation email template</Name>
      <Alias>invitationEmailTemplate</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[{{ firstName }},
{{ lastName }},
{{ invitationUrl }}

All fieldnames that are string can be merge-fields.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="invitationsEmails/invitation">Invitation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b570dbe4-51ab-4a04-a4ad-9db69146f83c</Key>
      <Name>Login forside</Name>
      <Alias>loginFrontpage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Siden der skal redeligeres til når en bruger logger ind.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteIndstillinger/loggetInd">Logget ind</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0ea0d82-3930-4bd4-a5e1-cc79a4c248d2</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>7a8095b7-dbd5-4d29-bbb0-d5df12806b1c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="siteIndstillinger/loggetInd">Logget ind</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>186b0222-15d0-4aa2-8ea0-6ed2e04d952b</Key>
      <Name>Navigation not signed in</Name>
      <Alias>navigationNotSignedIn</Alias>
      <Definition>7a8095b7-dbd5-4d29-bbb0-d5df12806b1c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="siteIndstillinger/ikkeLoggetInd">Ikke logget ind</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bac0593a-809e-4dc8-b52f-bf1625bdae8b</Key>
      <Name>Emnefelt - tak for tilmelding</Name>
      <Alias>signedUpEmailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="invitationsEmails/tilmeldt">Tilmeldt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>26cf3c0f-ea63-40b4-b206-0969b6309175</Key>
      <Name>Tilmeldt email template</Name>
      <Alias>signedUpEmailTemplate</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[{{selectedCrews}}]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="invitationsEmails/tilmeldt">Tilmeldt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e55f133c-b4ea-4c0e-8458-3e5fbf6c5d09</Key>
      <Name>Signup email emne</Name>
      <Alias>signupEmailEmne</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ansøgningsEmails/tilmelding">Tilmelding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bf7a68b-2016-473a-87cf-f7f3d2120afb</Key>
      <Name>Signup email template</Name>
      <Alias>signupMailText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[{{ firstName }},
{{ lastName }},
{{selectedCrews}}]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="ansøgningsEmails/tilmelding">Tilmelding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a543aa4e-8b5d-4a24-9828-b6004017962a</Key>
      <Name>Billetlink Frivillig</Name>
      <Alias>singleTicketUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Linket til at kunne købe én frivillig billet og børn]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="ansøgningsEmails/godkendt">Godkendt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94ad24df-952d-48a7-a4b8-34ab30aad771</Key>
      <Name>Site navn</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="siteIndstillinger">Site Indstillinger</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1090003-0a56-4f39-acb7-d5894bb0f245</Key>
      <Name>Supervisor notification emne</Name>
      <Alias>supervisorNotificationSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="ansøgningsEmails/tilmelding">Tilmelding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47ac9df8-30dc-41e5-b995-3c34e1c00a13</Key>
      <Name>Supervisor notification template</Name>
      <Alias>supervisorNotificationTemplate</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[  - {{ supervisorName }} - The supervisor's first name
  - {{ crewName }} - The specific crew this supervisor is responsible for
  - {{ selectedCrews }} - ALL crews the member selected (comma-separated)
  - {{ firstName }}, {{ lastName }}, {{ email }}, {{ phone }}, {{ zipcode }}
  - {{ portalUrl }} - Button link to the portal]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="ansøgningsEmails/tilmelding">Tilmelding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b44c23a7-8e3a-460c-9b0e-eb324abf726d</Key>
      <Name>Forside</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Angiv hvilken side brugeren skal ramme først]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteIndstillinger/ikkeLoggetInd">Ikke logget ind</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>335cf084-b770-4058-b248-9dab80b0bc5b</Key>
      <Caption>Tilmelding</Caption>
      <Alias>ansøgningsEmails/tilmelding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>41ef49fc-33b5-4ca6-a0c7-14c7d0953779</Key>
      <Caption>Site Indstillinger</Caption>
      <Alias>siteIndstillinger</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>56dd6c05-e37a-495b-9cb0-9d9926322bd3</Key>
      <Caption>Invitations emails</Caption>
      <Alias>invitationsEmails</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>59b0d3dc-3814-4ff4-a246-55c08df37ee4</Key>
      <Caption>Godkendt</Caption>
      <Alias>ansøgningsEmails/godkendt</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6b3d675e-838a-48d4-8dfb-9e320ad8a19c</Key>
      <Caption>Logget ind</Caption>
      <Alias>siteIndstillinger/loggetInd</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8abe3ce0-55db-45ab-9d56-2aa132f38f7c</Key>
      <Caption>Ansøgnings emails</Caption>
      <Alias>ansøgningsEmails</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b17f8ca8-f833-423b-8b08-9a44287c20b3</Key>
      <Caption>Invitation</Caption>
      <Alias>invitationsEmails/invitation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e3af4dea-15d8-4efd-b0d1-3ec05f31c2f6</Key>
      <Caption>Ikke logget ind</Caption>
      <Alias>siteIndstillinger/ikkeLoggetInd</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f042fab7-2655-4fd2-9db5-0e810e0c3605</Key>
      <Caption>Tilmeldt</Caption>
      <Alias>invitationsEmails/tilmeldt</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>