<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7e6183f-3c35-419b-b453-b2375fd62ac0" Alias="bbvSiteSettings" Level="3">
  <Info>
    <Name>Site</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Voluntier/Pages</Folder>
    <Compositions />
    <DefaultTemplate>Site</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="77720261-693f-441b-bc19-cccb2d1150bf">Site</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ee3c4018-af27-4406-8293-969e0561693d" SortOrder="0">bbvLoginPage</ContentType>
    <ContentType Key="9d6cb411-1b83-4ab4-be6a-0a74b5097b4a" SortOrder="1">bbvSignUp</ContentType>
    <ContentType Key="814239f4-8f0d-49f6-9e4c-e7b886100967" SortOrder="2">bbvFrontpage</ContentType>
    <ContentType Key="fea07efe-7325-40ac-8702-42aa450be2ee" SortOrder="3">bbvAvailableJobs</ContentType>
    <ContentType Key="59e5b8a1-7761-4a0e-8350-d7218f94cd8d" SortOrder="4">bbvArticlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a0ea0d82-3930-4bd4-a5e1-cc79a4c248d2</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>7a8095b7-dbd5-4d29-bbb0-d5df12806b1c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bf7a68b-2016-473a-87cf-f7f3d2120afb</Key>
      <Name>signup mail text</Name>
      <Alias>signupMailText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="signupInfo">Signup Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a543aa4e-8b5d-4a24-9828-b6004017962a</Key>
      <Name>Billetlink Frivillig</Name>
      <Alias>singleTicketUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Linket til at kunne købe én frivillig billet og børn]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="signupInfo">Signup Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94ad24df-952d-48a7-a4b8-34ab30aad771</Key>
      <Name>Site navn</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b44c23a7-8e3a-460c-9b0e-eb324abf726d</Key>
      <Name>Forside</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Angiv hvilken side brugeren skal ramme først]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>41ef49fc-33b5-4ca6-a0c7-14c7d0953779</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8abe3ce0-55db-45ab-9d56-2aa132f38f7c</Key>
      <Caption>Signup Info</Caption>
      <Alias>signupInfo</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>