<?xml version="1.0" encoding="utf-8"?>
<Domain Key="520a413a-0000-0000-0000-000000000000" Alias="frivillig.bluebridge.dk">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>da-DK</Language>
    <Root Key="2bd0e6f7-b388-4f5e-87ef-99082774827d">/frivillig.bluebridge.dk</Root>
  </Info>
</Domain>