<?xml version="1.0" encoding="utf-8"?>
<Content Key="1190e3ff-ef90-439e-af7c-39dfdb30e942" Alias="Ansøgninger" Level="3">
  <Info>
    <Parent Key="846120c5-50aa-4c10-9057-4f1b876d7c29">Frivillig</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Ansoegninger</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvApplicationsPage</ContentType>
    <CreateDate>2026-01-04T20:53:26</CreateDate>
    <NodeName Default="Ansøgninger" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3db3974-73bd-4566-b0d4-617a30623245">applications</Template>
  </Info>
  <Properties />
</Content>