<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b8ad2fa-b825-45c7-9d72-a387feed421a" Alias="Bar" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Bar</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:16:41</CreateDate>
    <NodeName Default="Bar" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[18]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EHer kommer en beskrivelse af de opgaver man kan forvente at skulle h\u00E5ndtere i baren.\u003C/p\u003E"
}]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/0b4be7e30a2e4860af6330dbc4f97a6e]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/0b4be7e30a2e4860af6330dbc4f97a6e,umb://member/80e8ff7888a94ca980b59bb48b6f2139]]></Value>
    </supervisors>
  </Properties>
</Content>