<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b8ad2fa-b825-45c7-9d72-a387feed421a" Alias="Bar" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Bar</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:16:41</CreateDate>
    <NodeName Default="Bar" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[18]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[<p>Her kommer en beskrivelse af de opgaver man kan forvente at skulle håndtere i baren.</p>]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/baaac92acb7e4dd2b399974a75637c9a]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/baaac92acb7e4dd2b399974a75637c9a,umb://member/1fba9a9ddc65442c9b91a7778e4e3799]]></Value>
    </supervisors>
  </Properties>
</Content>