<?xml version="1.0" encoding="utf-8"?>
<Content Key="9420dbeb-c68b-4389-a384-c94a4132c40e" Alias="Børne område" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/BoerneOmraade</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:16:53</CreateDate>
    <NodeName Default="Børne område" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[15]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/3852547844414d41b82a08a2b4703494]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/3852547844414d41b82a08a2b4703494]]></Value>
    </supervisors>
  </Properties>
</Content>