<?xml version="1.0" encoding="utf-8"?>
<Content Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f" Alias="Crews" Level="3">
  <Info>
    <Parent Key="846120c5-50aa-4c10-9057-4f1b876d7c29">Frivillig</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewList</ContentType>
    <CreateDate>2025-12-22T13:16:08</CreateDate>
    <NodeName Default="Crews" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae3ce0d3-0e33-4904-a494-89570aee91a4">CrewListe</Template>
  </Info>
  <Properties />
</Content>