<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f272ce0-173d-4ce1-8542-342a6cf71780" Alias="Entré" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Entre</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:17:02</CreateDate>
    <NodeName Default="Entré" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[0]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/e9198af5ee6142008966929d4871be09]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/e9198af5ee6142008966929d4871be09]]></Value>
    </supervisors>
  </Properties>
</Content>