<?xml version="1.0" encoding="utf-8"?>
<Content Key="93515424-a54f-48dd-8ac8-0c45088c438c" Alias="Forside" Level="3">
  <Info>
    <Parent Key="846120c5-50aa-4c10-9057-4f1b876d7c29">Frivillig</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Forside</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvDashboard</ContentType>
    <CreateDate>2025-12-22T13:01:46</CreateDate>
    <NodeName Default="Forside" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="624e08fe-ca06-4d46-a8f4-2866cec69aef">Dashboard</Template>
  </Info>
  <Properties />
</Content>