<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bd0e6f7-b388-4f5e-87ef-99082774827d" Alias="frivillig.bluebridge.dk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/frivilligbluebridgedk</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvSiteSettings</ContentType>
    <CreateDate>2025-12-22T12:55:59</CreateDate>
    <NodeName Default="frivillig.bluebridge.dk" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="77720261-693f-441b-bc19-cccb2d1150bf">Site</Template>
  </Info>
  <Properties>
    <navigation>
      <Value><![CDATA[umb://document/93515424a54f48dd8ac80c45088c438c,umb://document/54b76db37cb049acbb2a4176549caf8f,umb://document/1190e3ffef90439eaf7c39dfdb30e942]]></Value>
    </navigation>
    <navigationNotSignedIn>
      <Value><![CDATA[umb://document/ad41fb6dd6a543bd82bae37647f76bdb,umb://document/828dc06527684f508d7e836740925c2e,umb://document/163020d1264a48758fe46bd39ee4ac5a]]></Value>
    </navigationNotSignedIn>
    <signupMailText>
      <Value><![CDATA[Kære {{ username }},

tak for din tilmelding som frivillig til dette års ...

{{ ticketLink }}]]></Value>
    </signupMailText>
    <singleTicketUrl>
      <Value><![CDATA[https://www.billetto.dk/bluebridge/single-frivillig-billet-test/]]></Value>
    </singleTicketUrl>
    <siteName>
      <Value><![CDATA[Blue Bridge Frivillig Portal]]></Value>
    </siteName>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/ad41fb6dd6a543bd82bae37647f76bdb]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>