<?xml version="1.0" encoding="utf-8"?>
<Content Key="846120c5-50aa-4c10-9057-4f1b876d7c29" Alias="Frivillig" Level="2">
  <Info>
    <Parent Key="2bd0e6f7-b388-4f5e-87ef-99082774827d">frivillig.bluebridge.dk</Parent>
    <Path>/frivilligbluebridgedk/Frivillig</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvFrontpage</ContentType>
    <CreateDate>2025-12-22T12:58:35</CreateDate>
    <NodeName Default="Frivillig" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="90351fd6-2bda-4f52-badc-c121d79233e9">Frontpage</Template>
  </Info>
  <Properties />
</Content>