<?xml version="1.0" encoding="utf-8"?>
<Content Key="eda7e33b-f820-4810-bc64-957a660d2e90" Alias="Information" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Information</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:17:28</CreateDate>
    <NodeName Default="Information" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[17]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/0022134022d84b9ea8ca1fac295cbb4e]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/0022134022d84b9ea8ca1fac295cbb4e]]></Value>
    </supervisors>
  </Properties>
</Content>