<?xml version="1.0" encoding="utf-8"?>
<Content Key="828dc065-2768-4f50-8d7e-836740925c2e" Alias="Ledige stillinger" Level="2">
  <Info>
    <Parent Key="2bd0e6f7-b388-4f5e-87ef-99082774827d">frivillig.bluebridge.dk</Parent>
    <Path>/frivilligbluebridgedk/LedigeStillinger</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvAvailableJobs</ContentType>
    <CreateDate>2026-01-05T20:54:56</CreateDate>
    <NodeName Default="Ledige stillinger" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a1cc50d-6750-4ee5-8087-7387181f2c73">availableJobs</Template>
  </Info>
  <Properties />
</Content>