<?xml version="1.0" encoding="utf-8"?>
<Content Key="6104c851-06c0-4434-a9b9-fd193059377d" Alias="Nedtagning" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Nedtagning</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:17:43</CreateDate>
    <NodeName Default="Nedtagning" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[0]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/703f6ceb816a4e88b80355ac26723a03]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/703f6ceb816a4e88b80355ac26723a03]]></Value>
    </supervisors>
  </Properties>
</Content>