<?xml version="1.0" encoding="utf-8"?>
<Content Key="923ad4f9-154a-4fe0-a655-f390a9249cd8" Alias="Oprydning" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Oprydning</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:17:52</CreateDate>
    <NodeName Default="Oprydning" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[0]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/3e9fd7e4300640b5adf13d9edf7a4992]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/3e9fd7e4300640b5adf13d9edf7a4992]]></Value>
    </supervisors>
  </Properties>
</Content>