<?xml version="1.0" encoding="utf-8"?>
<Content Key="a06c5e8c-1749-42e0-96b9-6438e961a242" Alias="Scene" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Scene</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:18:15</CreateDate>
    <NodeName Default="Scene" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[16]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EP\u00E5 scene crewet skal du have erfaring med at ... Alle vagter er 4 timers vagter. Til geng\u00E6ld f\u00E5r du din billet gratis.\u003C/p\u003E"
}]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/772b463abb644c3ba91d5ca887d0edf6]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/f68cd98782cc431d97726a081f8881f8,umb://member/772b463abb644c3ba91d5ca887d0edf6]]></Value>
    </supervisors>
  </Properties>
</Content>