<?xml version="1.0" encoding="utf-8"?>
<Content Key="440fa034-c401-4067-bbdc-db0c0fcc7c1b" Alias="Tak for din ansøgning" Level="3">
  <Info>
    <Parent Key="163020d1-264a-4875-8fe4-6bd39ee4ac5a">Tilmeld</Parent>
    <Path>/frivilligbluebridgedk/Tilmeld/TakForDinAnsoegning</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvArticlePage</ContentType>
    <CreateDate>2026-01-27T20:42:45</CreateDate>
    <NodeName Default="Tak for din ansøgning" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="754f704d-9eed-494a-8e95-5a6e3a85c241">Artikel</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <rte>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDin ans\u00F8gning er nu sendt afsted og du har f\u00E5et en bekr\u00E6ftelse p\u00E5 mail (tjek evt. spam hvis du ikke kan finde den).\u003C/p\u003E\u003Cp\u003ENu sker der f\u00F8lgende\u003C/p\u003E\u003Col\u003E\u003Cli\u003E\u003Cp\u003EVi gennemg\u00E5r din ans\u00F8gning\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EHvis du bliver godkendt og der er plads p\u00E5 det / de crews du har s\u00F8gt, f\u00E5r du en mail med informationer omkring det videre forl\u00F8b og et link til billetk\u00F8b.\u003C/p\u003E\u003C/li\u003E\u003C/ol\u003E\u003Cp\u003E\u003Cstrong\u003EHUSK: du kan kun k\u00F8be billet til dig selv og dine b\u00F8rn under 18 \u00E5r\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </rte>
    <teaser>
      <Value><![CDATA[]]></Value>
    </teaser>
  </Properties>
</Content>