<?xml version="1.0" encoding="utf-8"?>
<Content Key="163020d1-264a-4875-8fe4-6bd39ee4ac5a" Alias="Tilmeld" Level="2">
  <Info>
    <Parent Key="2bd0e6f7-b388-4f5e-87ef-99082774827d">frivillig.bluebridge.dk</Parent>
    <Path>/frivilligbluebridgedk/Tilmeld</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvSignUp</ContentType>
    <CreateDate>2025-12-22T12:56:21</CreateDate>
    <NodeName Default="Tilmeld" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="39f8bc89-dfb0-4094-84ef-0b906b7c9cf8">signup</Template>
  </Info>
  <Properties />
</Content>