<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad41fb6d-d6a5-43bd-82ba-e37647f76bdb" Alias="Velkommen" Level="2">
  <Info>
    <Parent Key="2bd0e6f7-b388-4f5e-87ef-99082774827d">frivillig.bluebridge.dk</Parent>
    <Path>/frivilligbluebridgedk/Velkommen</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvArticlePage</ContentType>
    <CreateDate>2026-01-16T10:41:18</CreateDate>
    <NodeName Default="Velkommen" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="754f704d-9eed-494a-8e95-5a6e3a85c241">Artikel</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <rte>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Ch2\u003EOverskrift\u003C/h2\u003E\u003Cp\u003EHer kan du l\u00E6se mere om ....\u003C/p\u003E"
}]]></Value>
    </rte>
    <teaser>
      <Value><![CDATA[Bla bla bla]]></Value>
    </teaser>
  </Properties>
</Content>