<?xml version="1.0" encoding="utf-8"?>
<Content Key="0607efc4-0cb8-4d64-97e3-51e22aaf20e4" Alias="Vikar" Level="4">
  <Info>
    <Parent Key="54b76db3-7cb0-49ac-bb2a-4176549caf8f">Crews</Parent>
    <Path>/frivilligbluebridgedk/Frivillig/Crews/Vikar</Path>
    <Trashed>false</Trashed>
    <ContentType>bbvCrewPage</ContentType>
    <CreateDate>2025-12-22T13:18:22</CreateDate>
    <NodeName Default="Vikar" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e337b9c3-3553-4e56-b27c-e7a2b4bf4bcf">Crew</Template>
  </Info>
  <Properties>
    <ageLimit>
      <Value><![CDATA[18]]></Value>
    </ageLimit>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <scheduleSupervisor>
      <Value><![CDATA[umb://member/78e283517bd34d04882551c91c7007b2]]></Value>
    </scheduleSupervisor>
    <supervisors>
      <Value><![CDATA[umb://member/78e283517bd34d04882551c91c7007b2]]></Value>
    </supervisors>
  </Properties>
</Content>